model_list:
  - model_name: local/ollama-qwen2.5-coder-14b
    litellm_params:
      model: "ollama/qwen2.5-coder:14b"
      api_base: "http://ollama.{{ domain }}:11434"
general_settings:
  telemetry: false

